@import url("https://use.typekit.net/bvx7lxn.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "brandon-grotesque";
  font-weight: 500;
  font-style: normal;
}

h1 {
   color: theme(colors.oasis-green);
}